body{
	margin: 0;
 background-color: #FFE4C4;

 }
header{
	background-color: #00FFFF;
	padding: 15px; 
	text-align: center;
	color: black;
	margin: 15px;
}

nav{
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: #fff;
	padding : 14px 16px;
	text-decoration: none;
}
.column{
	float: left;
	padding: 10px;
	width: 20%
}
.column.side{
	width: 70%;
}
p{
	text-align: justify;
}
h1{
	clear: both;
	background-color: #00FFFF;
	color: black;
	padding: 10px;
	text-align: center;}

table {width:100%;
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  }
  th{text-align:center;
}



Footer{
	clear: both;
	background-color: #00FFFF;
	color: black;
    padding: 15px;
    text-align: center;
}
	div.gallery{
		margin: 4px;
		border: 10px solid black;
		float: left;
		width: 200px;
	}
	div.gallery img{
		width: 100%;
		height: auto;
	}

.column1{
	float: left;
	padding: 15px;
}
.column.div{
	width: 45%;
}


.column{
	float: left;
	padding: 15px;
}
.column.ul{
	width: 45%;
}
</body>
</html>